[Unit]
Description = Catalogue Service

[Service]
User=roboshop
Environment=MONGO=true
// highlight-start
Environment=MONGO_URL="mongodb://mongodb.sh.nagendrablog.site:27017/catalogue"
// highlight-end
ExecStart=/bin/node /app/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target

###############
Description
This is the systemd service file for the Catalogue Service of the RoboShop application. It defines how the service should be started, what environment variables it needs, and how it should be identified in the system logs.